{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 8"]
        },
        "modules": false
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": []
}
